#grocery-item {
  flex-direction: row;
  justify-content: space-between;

  >div:nth-child(2) {
    margin-right: 15px;
    margin-left: 15px;
  }

  .ant-form-item {
    margin-right: 0;
  }

  >div{
    flex: 1;
  }

  >div:first-child{
    flex: unset;
    width: 40%;
  }

  img {
    margin-right: 5px;
  }
}

.ant-select-dropdown {
  img {
    margin-right: 5px;
  }
}