.grocery-lists {
  &__icon {
    svg {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }

  .ant-list-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}